Elevation_data/
Orthophotos/
src/__pycache__/O4_Version.cpython-35.pyc
tmp/
src/__pycache__/
Previews/*.jpg
Previews/Thumbs.db
Providers/__pycache__/
Utils/Thumbs.db
road_types_except_powerlines.txt
last_map_position.txt
gdal_scratchpad.txt
Thumbs.db
Ortho4XP.cfg.bak
Extents/Switzerland/Thumbs.db
Extents/Italy/Thumbs.db
Extents/France/Thumbs.db
.last_gui_params.txt
Masks/
OSM_data/
Geotiffs/
Ortho4XP.log
